.filter-list.list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .list.filter-list {
    margin-bottom: 50px;
  }
  
  .button.pointer {
    margin-right: 8px;
  }